.contacts 
        a.contact(href="tel:+380969999999")
          i.fa.fa-mobile.contact__icon(aria-hidden="true") 
          span.contact__text 6337 3128
        a.contact(href="mailto:info@dusiness.co")
          i.fa.fa-envelope.contact__icon.contact__icon__mail(aria-hidden="true")
          span.contact__text info @dusiness.co
        a.facebook-icon(href="facebook.com")
          i.fa.fa-facebook(aria-hidden="true")