.approch {
  padding: 86px 0 94px 0;
  background: #f3f3f3;

  &__list {
    margin: 0;
    padding: 0;
    counter-reset: count;
  }

      &__item {
         margin-bottom: 40px;
         border-radius: 5px;
         box-shadow: -1px -1px 10px 1px rgba(214, 214, 214, 1);
         color: #424242;
         background: #fff;
      }
}
