.button {
    display: inline-block;
    border-radius: 3px;
    padding: 9px 19px 6px;
    margin: 8px;
    text-decoration: none;
    color: #fff;

    &--red {
        background: #de2b24;
        transition: 0.3s;

        &:hover {
            background: lighten(#de2b24, 15%);
        }
    }
    &--yellow {
        background: #f8cd53;
        transition: 0.3s;

        &:hover {
            background: lighten(#f8cd53, 15%);
        }
    }
    &--text-uppercase{
        text-transform: uppercase;
    }
}
